/* Estilos CSS aplicados únicamente a index.html */

/* Main: contenido principal de la página de inicio */
main h1 {/* Colores de encabezados */
  color: var(--text-color);
}
main p, main img {/* Colores de texto */
  color: var(--text-color-secondary);
}
#titulo {/* Sección con el título de la web y una breve descripción */
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
#titulo h1 {
  font-size: 33px;
  font-family: 'Gill Sans Bold';
}
/* Sección de información */
#info {/* Sección con imagen de fondo e información de la web */
  content: "";
  background-image: url(../media/img/album.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}
#info div {/* Divisores de los bloques de información */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 20px;
  flex-basis: 50%;
  background-color: var(--background-filter);
}
#info div p {/* Limitar el tamaño de los párrafos de la sección de información */
  max-width: 300px;
}
/* Secciones con imágenes de elementos numismáticos */
.numis {/* .numis es la clase que recibe el section con las imágenes */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px 20px 20px;
  text-align: center;/* Para los span y el texto alternativo de las imágenes */
}
.numis h1 {/* Encabezados de las secciones .numis */
  flex-basis: 100%;/* Para que ocupen una línea entera */
}
.numis a {/* Enlaces de .numis */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;/* Para que ocupen la línea entera, se cambiará en pantallas de ordenadores */
}
.numis img {/* Imágenes de .numis */
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.numis span {/* Al poner el ratón sobre la imagen o al pulsarla sale este texto */
  position: absolute;
  font-size: 25px;
  display: none;
  color: var(--text-color-secondary);
}
.numis a img:hover {/* Acción de hover sobre la imagen */
  color: var(--body-background);
  filter: opacity(50%);
}
.numis a img:hover ~ span {/* El display del texto al hacer hover */
  display: block;
}
.numis footer {/* Dentro del footer hay un small, para el copyright de las imágenes. Este copyright solo está en imágenes de exonumia, ya que no son emitidas por una sucursal bancaria estatal. Las imágenes de monedas y billetes no tienen copyright */
  color: var(--text-color-secondary);
}
/* Enlaces a páginas de referencia del mundo de la numismática */
aside {/* Contenedor de otras páginas */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--nav-background);
}
aside h1 {/* Título de páginas de interés */
  color: var(--text-color);
  margin: 20px;
  font-size: 20px;
  text-align: center;
  flex-basis: 100%;
}
aside a {/* Los enlaces de interés */
  font-weight: bold;
  margin: 10px;
  color: var(--text-color-secondary);
  text-decoration: none;
}
/* Footer con información no tan relevante sobre la página */
body > footer {/* Se tiene que poner el selector de esta manera porque se utiliza el footer en otros elementos */
  background-color: var(--nav-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  padding: 100px;
}
body > footer a {/* Enlaces al github y a la página de acerca de */
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}
/* Media querys de resolución */
@media (min-width: 795px) {/* Resolución aproximada a partir de tablet. Es un valor ajustado manualmente para que la visualización de los elementos no se distorsione */
  #info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {/* Resolución a partir de netbook (ordenador pequeño) */
  .numis a {
    flex-basis: 33.33%;
  }
}