/* Fuente, padding y margenes a todo */
* {
  font-family: 'Gill Sans MT';
  padding: 0;
  margin: 0;
}

/* Pantallas más pequeñas que 450px : pantallas de móviles */
@media screen and (max-width: 450px) {
  /* Enlaces del nav, a excepción del logo */
  header nav a:not(:first-child) {
    display: none;
  }

  /* Barra de navegación */
  header nav {
    justify-content: space-between;
  }

  /* Etiqueta menú */
  #menu + label {
    align-self: center;
  }

  /* Imagen del menú */
  #menu + label > img {
    height: 25px;
    padding: 0px 10px;
    cursor: pointer;
  }
}

/* Pantallas más grandes de 450px : tablets, ordenadores y teles */
/* Puesto a min 451px para no generar conflictos con el anterior media query */
@media screen and (min-width: 451px) {
  /* Etiqueta menú e imagen del menú */
  #menu + label, #menu + label > img {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }

  /* Barra de navegación */
  header nav {
    background-color: #262626;
  }

  /* Cambiar al logo de modo oscuro */
  #Logo {
    content: url("../media/svg/CWLettersDark.svg");
  }

  /* Cambiar al menú de modo oscuro */
  img[alt="Menu"] {
    content: url("../media/svg/MenuDark.svg");
  }

  /* Enlaces del nav, a excepción del logo */
  header nav > a:not(:first-child) {
    color: white;
  }
}

@media (prefers-color-scheme: light) {

  /* Barra de navegación */
  header nav {
    background-color: #f2f2f2;
  }

  /* Enlaces del nav, a excepción del logo */
  header nav > a:not(:first-child) {
    color: #262626;
  }
}

/* Barra de navegación */
header nav {
  display: flex;
  flex-direction: row;
  height: 40px;
}

/* Logo: dimensiones y padding */
#Logo {
  height: 40px;
  padding: 0px 10px;
}

/* Checkbox del menú */
#menu {
  display: none;
}

/* Enlaces del nav, a excepción del logo */
header nav > a:not(:first-child) {
  padding: 10px;
  align-items: center;
  text-decoration: none;
}

/* Cursor sobre enlaces del nav, a excepción del logo */
header nav > a:not(:first-child):hover {
  background-color: #099990;
}