/*
Aplicaré la idea "Mobile First"
De manera que primero diseñaré para móvil y luego,
si la pantalla es lo suficientemente grande,
se aplicarán otros estilos

Los Links de la Navbar son aquellos enlaces que no son el Logo

El botón del menú es una etiqueta (label) que actúa
sobre una checkbox, cuando se marca y se desmarca aplico estilos
como si de un botón se tratase. 
Esto es debido a que no hemos aprendido aún a cómo usar JavaScript
*/

/* Fuente, padding y margenes a todo */
* {
  font-family: 'Gill Sans MT';
  padding: 0;
  margin: 0;
}

/* Barra de navegación */
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Links del Navbar */
header nav a.link {
  flex-basis: 100%;
  display: none;
  padding: 10px;
  align-items: center;
  text-decoration: none;
}

/* Cursor sobre Links del Navbar */
header nav a.link:hover {
  background-color: #099990;
}

/* SVG del logo: dimensiones y padding */
#Logo {
  height: 40px;
  padding: 0px 10px;
}

/* Checkbox del menú */
#menu {
  display: none;
}

/* Botón de menú */
#menu + label {
  align-self: center;
}

/* Mostrar los enlaces al pulsar el menú */
#menu:checked ~ a.link {
  display: flex;
}

/* SVG del menú */
#menu + label > img {
  height: 25px;
  padding: 0px 10px;
  cursor: pointer;
}

/* Resolución a partir de una tablet */
@media screen and (min-width: 768px) {

}

/* Resolución a partir de netbook */
@media screen and (min-width: 1024px) {

}

/* Estilos diferentes para modo oscuro y modo claro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
  }
  /* Barra de navegación */
  header nav {
    background-color: #262626;
  }
  /* Cambiar al logo de modo oscuro */
  #Logo {
    content: url("../media/svg/CWLettersDark.svg");
  }
  /* Cambiar al menú de modo oscuro */
  img[src="media/svg/Menu.svg"] {
    content: url("../media/svg/MenuDark.svg");
  }
  /* Enlaces del navbar */
  header nav a.link {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  /* Barra de navegación */
  header nav {
    background-color: #f2f2f2;
  }
  /* Enlaces del navbar */
  header nav a.link {
    color: #262626;
  }
}