/* Estilos CSS aplicados únicamente a los html que contienen monedas */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
section img {
  max-width: 200px;
  padding: 20px;
}
aside img {
  max-width: 150px;
  padding: 20px;
}
main > * {
  border: 1px solid red;
}