/* Estilos CSS aplicados únicamente a los html que contienen monedas */
h1, h2, h3 {/* Colores de encabezados */
  color: var(--text-color);
}
p, img, label {/* Colores de texto (img para los alt) */
  color: var(--text-color-secondary);
}
main {
  display: flex;
  flex-direction: column;
  right: 0;
}
article {
  align-self: center;
  text-align: justify;
  margin: 20px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  max-width: 1000px;
}
article > * {
  margin: 0px 20px;
}
article div {
  display: flex;
  gap: 10px;
  margin: 20px;
  justify-content: center;
}
article img {
  width: 300px;
  max-width: 45vw;
}
article p {
  margin-top: 10px;
}